/**Partials & Mixins**/
@use '../../styles/partials/fonts';
@use '../../styles/partials/colors';

@mixin tablet {
    @media screen and (min-width: $tabletBreakpoint) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: $desktopBreakpoint) {
        @content;
    }
}

/** Variables**/

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1280px;

/**Element styles**/

html {
  font-family: 'AvenirNext';
  font-size: 2rem;
  color: colors.$BrainFlix-Black;
  margin: 0;
}

.avatar {
  &__user {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      margin-left: 2%;
      border-radius: 50%;
      overflow: hidden;
  }
  &__img {
      object-fit: cover;
      object-position: left;
      height: 100%;
      width: 100%;
  }
}

.btn {
  display: block;
  font-size: 1rem;
  color: colors.$White;
  background-color: colors.$BrainFlix-Blue;
  border-color: colors.$BrainFlix-Blue;
  width: 100%;
  margin-top: 2%;
  border-radius: 3px;
}