/**Partials & Mixins**/
@use '../../styles/partials/fonts';
@use '../../styles/partials/colors';

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2% 6%;

    &__logo {
        height: 6vh;
        margin: 3%;
    }
    &__icon {
        height: 100%;
    }
    &__search {
        font-size: .8rem;
        background-image: url("../../assets/Icons/search.svg");
        background-repeat: no-repeat;
        text-indent: 5%;
        width: 82%;
        border-radius: 10px;
    }
}

.uploadLink{
    display: block;
    text-decoration: none;
    width: 100%;
    margin-top: 2%;
}

.btn {
    display: block;
    font-size: 1rem;
    color: colors.$White;
    background-color: colors.$BrainFlix-Blue;
    border-color: colors.$BrainFlix-Blue;
    width: 100%;
    margin-top: 2%;
    border-radius: 3px;
  }