@use '../../styles/partials/colors';

.video {

    &__info {
        padding: 0 4%;
    }    

    &__media {
    width: 100%;
    height: 30%;
    }
    &__title {
        border-bottom: 5px solid colors.$Mercury;
        margin: 0;
        padding: 3% 0;
    }
    &__details {
        display: flex;
        flex-flow: column wrap;
        border-bottom: 5px solid colors.$Mercury;
        padding: 3% 0;
    }
    &__comments {
        font-weight: bold;
    }
};
