.addComment {
    display: flex;
    justify-content: space-between;
    margin: 2% 4%;
    padding-bottom: 4%;
    border-bottom: 5px solid gray;
}
.newComment {
    box-sizing: border-box;
    margin-left: 4%;
    width: 80%;

    &__title {
    display: block;
    }
}

//Classes
#newComment__input {
    font-family: inherit;
    height: 20%;
    width: 100%;
}